<configuration>

    <!--可以引用SpringBoot全局配置文件中的配置项-->
    <springProperty scope="context" name="dateformat" source="logging.pattern.dateformat"
                    defaultValue="-yyyy-MM-dd HH:mm:ss.SSS"/>

    <!--appender 追加器   日志以哪种方式进行输出
            name 取个名字
            class 不同实现类会输出到不同地方
                ch.qos.logback.core.ConsoleAppender 输出到控制台
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 格式 -->
            <springProfile name="dev">
                <pattern>%d{${dateformat}} [%thread] %-5level %logger{100} ======= %msg%n</pattern>
            </springProfile>
            <springProfile name="!dev">
                <pattern>%d{${dateformat}} [%thread] %-5level %logger{100} ++++++ %msg%n</pattern>
            </springProfile>

        </encoder>
    </appender>
<!--cn.tulingxueyuan.mapper-->
<!--控制跟细粒度的日志级别  根据包\根据类-->
    <logger name="com.tulingxueyuan" level="TRACE"></logger>


    <!--控制所有的日志级别-->
    <root level="info">
        <!-- 将当前日志级别输出到哪个追加器上面 -->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>