<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tulingxueyuan.mapper.EmpMapper">
  <resultMap id="BaseResultMap" type="emp">
    <id column="id" jdbcType="INTEGER" property="id" />
   <!-- <result column="user_name" jdbcType="VARCHAR" property="userName" />-->
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tulingxueyuan.pojo.Emp">
    insert into emp (id, user_name, create_date, 
      dept_id)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{deptId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tulingxueyuan.pojo.Emp">
    update emp
    set user_name = #{userName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      dept_id = #{deptId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_name, create_date, dept_id
    from emp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_name, create_date, dept_id
    from emp
  </select>
</mapper>